<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a target="_blank" href="https://www.infosys.com/" class="nav-link" style="font-size:calc(100% + 1%)">
                    Infosys
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" class="nav-link" style="
                    font-size: calc(100% + 1%);
                    background-image: linear-gradient(to bottom left, #ffaaff, #ba54f5, #e14eca, #bf53ff);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                ">
                    This Dashboard is exclusively created by DataVista: Sales Data Analysis and Visualization Interns*
                </a>
            </li>
        </ul>
    </div>
</footer>